RELIC-INFO
relic/
doc/source/.doctrees
drizzlepac/htmlhelp
*/version.py
build/
dist/
htmlcov/
pip-wheel-metadata/
coverage.xml
.coverage
*.coverage.*
*.eggs
*.pyc
*.o
*.so
*.dylib
*.pyc
.DS_Store
*.egg-info
*.swp
*~
astrodrizzle.log
hapcut_utility.log
headerlet.log
svm_poller_file.txt
.vscode/settings.json
