include RELIC-INFO
recursive-include doc *
global-include *.py *.md *.notes *.yml *.toml
global-include *.x *.c *.h *.par
exclude */version.py
prune .
prune .eggs
prune .git
prune relic
prune drizzlepac/htmlhelp
