git+https://github.com/astropy/photutils.git#egg=photutils
git+https://github.com/spacetelescope/stsci.tools.git#egg=stsci.tools
git+https://github.com/astropy/astropy.git#egg=astropy
git+https://github.com/spacetelescope/stwcs.git#egg=stwcs
git+https://github.com/astropy/astroquery.git#egg=astroquery
