_task_name_ = runhap
input = ""
debug = True
[CONDITION 1]
[[ALIGNMENT]]
min_catalog_thresh = 3
min_observable_thresh = 10
min_cross_matches = 3
min_fit_matches = 6
max_fit_rms = 10
max_fit_limit = 150
max_sources_per_chip = 250
alignment_algorithms = "match_relative_fit match_2dhist_fit match_default_fit"
catalog_list = "GAIAedr3 GAIADR2 GAIADR1"
nlargest = 250
[[[MATCH_RELATIVE]]]
searchrad = 75
separation = 0.1
tolerance = 2
use2dhist = True
[[ASTRODRIZZLE]]
build_from_mdriztab = True
[[[SINGLE]]]
cfg_filename = "astrodrizzle_single_hap.cfg"
[[[FILTER]]]
cfg_filename = "astrodrizzle_filter_hap.cfg"
[[[TOTAL]]]]
cfg_filename = "astrodrizzle_total_hap.cfg"
[[SOURCELIST GENERATION]]
[[[POINT]]]
[[[[SOURCE IDENTIFICATION]]]]
bkgsig_sf =
dao_ratio =
box_size =
win_size =
fwhmpsf =
scale =
source_box =
[[[[PHOTOMETRY]]]]
aper_radius =
[[[SEGMENT]]]
[[[[SOURCE IDENTIFICATION]]]]
fwhm =
size_source_box =
threshhold_flag =
kernel =
box_size =
win_size =
nsigma =
[[[[PHOTOMETRY]]]]
fwhm =
size_source_box =
threshhold_flag =
kernel =
box_size =
win_size =
nsigma =
[[QUALITY CONTROL]]
placeholder = True


