#_task_name_ = sky
input = "*flt.fits"
group = None
[STEP 2: SKY SUBTRACTION]
skysub = True
skymethod = "localmin"
skywidth = 0.1
skystat = "median"
skylower = None
skyupper = None
skyclip = 5
skylsigma = 4.0
skyusigma = 4.0
skymask_cat = ""
use_static = True
sky_bits = "0"
skyuser = ""
skyfile = ""
in_memory = False

[_RULES_]
