name: build

on:
  release:
    types: [ released ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/publish.yml@86823142467dd2afcd1bbac57d3a664cf468eb3b  # v2.1.0
    with:
      upload_to_pypi: ${{ (github.event_name == 'release') && (github.event.action == 'released') }}
      targets: |
        # Linux wheels
        - cp3*-manylinux_x86_64
        # MacOS wheels
        - cp3*-macosx_x86_64
        - cp3*-macosx_arm64
      sdist: true
      test_command: python -c "from drizzlepac import cdriz"
