name: CI

on:
  push:
    branches:
      - master
      - '*x'
    tags:
      - '*'
  pull_request:
  schedule:
    # Weekly Monday 9AM build
    - cron: "2 20 * * 3"

jobs:
  crds_contexts:
    uses: spacetelescope/crds/.github/workflows/contexts.yml@b81f1b0fe6518106d5972f6680e23dce94140673  # 12.1.1
  check:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@8c0fde6f7e926df6ed7057255d29afa9c1ad5320  # v1.16.0
    with:
      envs: |
        - linux: check-style
  test:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@8c0fde6f7e926df6ed7057255d29afa9c1ad5320  # v1.16.0
    needs: [ crds_contexts ]
    with:
      setenv: |
        CRDS_PATH: /tmp/data/crds_cache/
        CRDS_SERVER_URL: https://hst-crds.stsci.edu
        CRDS_CLIENT_RETRY_COUNT: 3
        CRDS_CLIENT_RETRY_DELAY_SECONDS: 20
      cache-path: /tmp/data/crds_cache/
      cache-key: ${{ needs.crds_contexts.outputs.hst }}
      libraries: |
        brew:
          - hdf5
      envs: |
        - linux: py311-xdist
        - linux: py312-xdist
        # `tox` does not currently respect `requires-python` versions when creating testing environments;
        # if this breaks, add an upper pin to `requires-python` and revert this py3 to the latest working version
        - linux: py3-cov-xdist
          coverage: codecov
        - linux: py3-xdist
      toxdeps: tox-uv
