name: CI

on:
  push:
    branches:
      - main
      - '*x'
    tags:
      - '*'
  pull_request:
  schedule:
    # Weekly Monday 9AM build
    - cron: "2 20 * * 3"

jobs:
  crds_contexts:
    uses: spacetelescope/crds/.github/workflows/contexts.yml@5139df7a7fbc241e3eeed3d6a9d2ca4b39199518  # 12.1.11
  check:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@28e947497bed4d6ec3fa1d66d198e95a1d17bc63  # v2.2.1
    with:
      envs: |
        - linux: check-style
  test:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@28e947497bed4d6ec3fa1d66d198e95a1d17bc63  # v2.2.1
    needs: [ crds_contexts ]
    with:
      setenv: |
        CRDS_PATH: /tmp/data/crds_cache/
        CRDS_SERVER_URL: https://hst-crds.stsci.edu
        CRDS_CLIENT_RETRY_COUNT: 3
        CRDS_CLIENT_RETRY_DELAY_SECONDS: 20
      cache-path: /tmp/data/crds_cache/
      cache-key: ${{ needs.crds_contexts.outputs.hst }}
      coverage: ''
      envs: |
        - windows: py311
        - macos: py312-xdist
          libraries:
            brew:
              - hdf5
        # `tox` does not currently respect `requires-python` versions when creating testing environments;
        # if this breaks, add an upper pin to `requires-python` and revert this py3 to the latest working version
        - linux: py3-cov-xdist
          coverage: codecov
      toxdeps: tox-uv
